fastapi
uvicorn
python-dotenv
pydantic
openai
opencv-python
chromadb
langchain
langchain-openai
langchain-huggingface
langchain-google-genai
langgraph
sentence-transformers
openai-whisper
whisper-timestamped
torch
torchvision
torchaudio
Pillow
Cython
dtw-python
